<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="container-md">
            <div class="title mb-2">Paste the URL to be shortened</div>
            <div class="content">
                <div class="form-group">
                    <div class="input-control">
                        <input id="longUrl" type="text" placeholder="Enter the link here" required>
                        <button id="btnConvert">Shorten URL</button>
                    </div>
                </div>
                <div id="shorten-url">
                </div>
            </div>
        </div>
    </div>
<script src="/js/main.js"></script>
</body>
</html>